.about {
    height: fit-content;
    padding: 30px 80px;
    margin-bottom: 40px;
}

.about .title {
    margin-bottom: 70px;
}

.about .title h1 {
    font-family: "Aeonik-Bold";
    font-size: 80px;
    color: var(--black-color);
    text-transform: capitalize;
}

.about .title a {
    position: relative;
    text-decoration: none;
    color: var(--black-color);
    display: inline-block;
}

.about .title a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 30%;
    background-color: blue; /* Ganti warna sesuai kebutuhan */
    transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index: -1;
    transition-delay: 0.3s;
}

.about .title a:hover::before {
    width: 100%;
    transition-delay: 0s;
}

.about .title a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 30%;
    background-color: white;
    transition: 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index: -1;
    transition-delay: 0s;
}

.about .title a:hover::after {
    width: 90%;
    transition-delay: 0.3s;
}


.about .value {
    display: flex;
    justify-content: flex-end;
}

.about .value p {
    max-width: 45%;
    font-size: 20px;
    color: var(--black-color);
}

/* hero section responsive tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .about {
        padding: 30px 50px;
    }

    .about .title h1 {
        font-size: 75px;
    }

    .about .title a::before {
        width: 100%;
    }

    .about .value p {
        max-width: 55%;
    }
}

/* hero section responsive mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .about {
        padding: 30px 20px;
    }

    .about .title h1 {
        font-size: 40px;
    }

    .about .title a::before {
        width: 100%;
    }

    .about .value p {
        max-width: 100%;
    }
}
